{% extends "FeedApp/base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-4">

    <h1 class="mb-4">
        <p>Posts</p>
    </h1>

    <form method="POST">
        {% csrf_token %}

        <div class="row row-cols-1">

            {% for p,c,l in zipped_list %}
            <div class="col mb-4">
                <div class="card">

                    <div class="card-header d-flex justify-content-between">
                        <strong>{{ p.username }}</strong>
                        <small class="text-muted">{{ p.date_posted }}</small>
                    </div>

                    <div class="card-body">
                        <p class="card-text">{{ p }}</p>

                        {% if p.image %}
                        <img src="{{p.image.url}}" class="img-thumbnail" style="max-height:300px" alt="">
                        {% endif %}

                    </div>

                    <div class="card-footer d-flex justify-content-end align-items-center">

                        <div class="d-flex align-items-center mr-3">

                            <button type="submit" name="like" value={{p.id}} class="btn btn-outline-danger mr-1"
                                style="border: none;">
                                ❤️
                            </button>

                            Likes:&nbsp <strong>{{ l }}</strong>
                        </div>

                        <div>
                            Comments:
                            <a href="{% url 'FeedApp:comments' p.id %}" class="btn btn-sm btn-outline-info ml-1">
                                {{ c }}
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}

        </div>
    </form>
</div> {% endblock content %}