{% extends "FeedApp/base.html" %}
{% load bootstrap4 %}

{% block content %}

<div class="container mt-4">

    <h1 class="mb-4">
        <p>My Posts</p>
    </h1>

    <p class="mb-4"><a href="{% url 'FeedApp:new_post' %}" class="btn btn-primary">Add a new post</a></p>

    <div class="row row-cols-1">

        {% for p,c,l in zipped_list %}
        <div class="col mb-4">
            <div class="card">

                <div class="card-header d-flex justify-content-between">
                    <strong>{{ p.username }}</strong>
                    <small class="text-muted">{{ p.date_posted }}</small>
                </div>

                <div class="card-body">
                    <p class="card-text">{{ p }}</p>

                    {% if p.image %}
                    <img src="{{p.image.url}}" class="img-thumbnail" style="max-height:300px" alt="">
                    {% endif %}

                </div>

                <div class="card-footer d-flex justify-content-end">
                    <span class="mr-3">Likes: <strong>{{ l }}</strong></span>
                    <span>Comments: <a href="{% url 'FeedApp:comments' p.id %}"
                            class="btn btn-sm btn-outline-info ml-1">{{ c }}</a></span>
                </div>

            </div>
        </div>
        {% endfor %}

    </div>
</div> {% endblock content %}