{% extends "FeedApp/base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    h1 {
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    .control-label {
        color: white !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    }

    .form-control {
        /* X-offset Y-offset Blur-radius Color */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 5px;
    }
</style>

<h1>
    <p>My Profile:</p>
</h1>

<form action="{% url 'FeedApp:profile' %}" method='post'>
    {% csrf_token %}
    {{ form|crispy }}
    <br><br>
    <button name="submit" class="btn btn-primary">Update</button>
</form>

{% endblock content %}